@CHARSET "ISO-8859-1";

.principalDiv{
	padding-left: 3%; 
	padding-bottom: 3%;
	padding-right: 3%; 
	padding-top: 3%;
	width: 100%
}

.opcRestaurantes{
	width: 47%; 
	float: left;
}

.input-group{
	padding-left: 1%;
	padding-right: 1%;
	
}

.btn{
	padding-left: 1%
}

.inputsDivs{
	width: 70%;
}

.submitDiv{
	width: 100%;
	text-align: right;
	padding-right: 1%
}
.panel-Ranking{
	width: 48%;
	float: left;
	margin: 1%
}